{{#each posts as |post|}}
    <div class="card m-auto my-4">
        <div class="card-header">
            <h4 class="card-title">{{title}}</h2>
            <h5 class="card-subtitle mb-2 text-muted">Posted by: {{user.username}} on {{format_date created_at}}</h4>
        </div>
        
        <div class="card-body">
            <p class="card-text">{{post_text}}</p>
        </div>
        
        <div class="card-footer">
            <a href="/post/{{id}}" class="card-link">{{comments.length}} {{format_plural "comment" comments.length}}</a>
        </div>
    </div>
{{/each}}
