<div class="card m-auto my-4">
    <div class="card-header">
        <h4 class="card-title">{{post.title}}</h2>
        <h5 class="card-subtitle mb-2 text-muted">Posted by: {{post.user.username}} on {{format_date post.created_at}}</h4>
    </div>
    
    <div class="card-body">
        <p class="card-text">{{post.post_text}}</p>
    </div>
    
    <div class="card-footer">
        <a href="/post/{{id}}" class="card-link">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
</div>
<h2 class="text-center">Comments</h2>
{{> comments post.comments}}

{{#if loggedIn}}
    <div class="container mt-5">
        <form class="comment-form">
            <div class="form-group">
                <label for="comment-body">Comment:</label>
                <textarea class="form-control" id="comment-body" name="comment-body" rows="3"></textarea>
            </div>
            
            <div class="form-group m-2 text-center">
                <button type="submit" class="btn btn-primary">Add Comment</button>
            </div>
        </form>
    </div>
{{/if}}


{{#if loggedIn}}
<script>
    const commentFormHandler = async (event) => {
        event.preventDefault();

        const comment_text = document.querySelector('textarea[name="comment-body"]').value.trim();
        const post_id = window.location.toString().split('/').pop();

        if (comment_text) {
            const response = await fetch('/api/comments', {
                method: 'POST',
                body: JSON.stringify({ post_id, comment_text }),
                headers: { 'Content-Type': 'application/json' }
            });

            response.ok ? document.location.reload() : alert(response.statusText);
        }
    };

    document.querySelector('.comment-form').addEventListener('submit', commentFormHandler);
</script>
{{/if}}